<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h1 class="card-title" style="display: block;">
                <div class="row">
                    <div class="col-12">
                        {{heroes.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 hand">
                        {{heroes.subtitle}} <b></b>
                    </div>

                </div> 
            </h1>
            <p class="card-text" style="display: block;">{{heroes.lead1}}</p>
            <p class="card-text" style="display: block;">{{heroes.lead2}}.</p>
            <br>
            <a href="#" class="btn btn-block btn-custom">{{heroes.btnText}}</a>
            <p style="margin-top: 5px;">No se requiere pago.</p>
        </div>
        <!-- First column with image -->
        <div class="col-md-6">
            <img src="./../../../../assets/images/hero.jpeg" alt="Your Image Alt Text" class="img-fluid">
        </div>
        <!-- Second column with heading and paragraph -->
    </div>
</div>