.custom-slide-from-Left-animation {
    animation: slideFromLeft 0.9s ease-in-out;
}


@keyframes slideFromLeft {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}