<div class="container">
    <div class="rounded-container">
        <div class="row">
            <h1>EMPECEMOS</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
<p>Tengamos una reunión de 15 minutos para explicarte có
    crecer tu negocio en base a una logística de calidad.</p>
            </div>
            <div class="col-md-6">
                <button class="centered-btn" style="float: right;"><b>AGENDA TU DEMO</b></button>

            </div>

        </div>

 </div>
</div>
<br>
<br>
<br>