.navbar-nav{
    #modal-demo{
        margin-left: 250px;
        background :transparent;
        border-color:  orangered;
        color: black;
    }

}

@media screen and (max-width: 1200px) {
    .navbar-nav{
        #modal-demo{
            margin-left: 0;
            margin-top: 10px;
        }  
    }
}

.custom-slide-down-animation{
    animation: slide-down 0.9s ease-in-out;
}

@keyframes slide-down{
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }